In [133]:
import pandas as pd
import datetime
import numpy as np
data=pd.read_csv('01_variable_creation.csv')

In [134]:
data=data.drop('Unnamed: 0',axis=1)

In [135]:
data

,Date,Hour,Temperature,Load,trend,month,weekday,holiday,TempDistance,Temp>51.7?,...,Temperature^1/2,TempDistance^2,TempDistance^3,TempDistance^1/2,day,month.week,Time_of_day,Day_Night_Time,DayTime,NightTime
0,2008-01-01,1,25.00,10737.0,1,January,Tuesday,1,26.70,False,...,5.000000,712.8900,19034.163000,5.167204,1,1,Midnight,Night Time,0,1
1,2008-01-01,2,24.00,10348.0,2,January,Tuesday,1,27.70,False,...,4.898979,767.2900,21253.933000,5.263079,1,1,Midnight,Night Time,0,1
2,2008-01-01,3,23.00,9997.0,3,January,Tuesday,1,28.70,False,...,4.795832,823.6900,23639.903000,5.357238,1,1,Midnight,Night Time,0,1
3,2008-01-01,4,23.00,9760.0,4,January,Tuesday,1,28.70,False,...,4.795832,823.6900,23639.903000,5.357238,1,1,Midnight,Night Time,0,1
4,2008-01-01,5,23.00,9624.0,5,January,Tuesday,1,28.70,False,...,4.795832,823.6900,23639.903000,5.357238,1,1,Midnight,Night Time,0,1
5,2008-01-01,6,22.33,9619.0,6,January,Tuesday,1,29.37,False,...,4.725463,862.5969,25334.470953,5.419410,1,1,Morning,Night Time,0,1
6,2008-01-01,7,21.00,9794.0,7,January,Tuesday,1,30.70,False,...,4.582576,942.4900,28934.443000,5.540758,1,1,Morning,Day Time,1,0
7,2008-01-01,8,21.00,10021.0,8,January,Tuesday,1,30.70,False,...,4.582576,942.4900,28934.443000,5.540758,1,1,Morning,Day Time,1,0
8,2008-01-01,9,21.00,9984.0,9,January,Tuesday,1,30.70,False,...,4.582576,942.4900,28934.443000,5.540758,1,1,Morning,Day Time,1,0
9,2008-01-01,10,21.33,10067.0,10,January,Tuesday,1,30.37,False,...,4.618441,922.3369,28011.371653,5.510898,1,1,Morning,Day Time,1,0
10,2008-01-01,11,20.67,10367.0,11,January,Tuesday,1,31.03,False,...,4.546427,962.8609,29877.573727,5.570458,1,1,Morning,Day Time,1,0
11,2008-01-01,12,20.33,10625.0,12,January,Tuesday,1,31.37,False,...,4.508880,984.0769,30870.492353,5.600893,1,1,Morning,Day Time,1,0
12,2008-01-01,13,20.67,10795.0,13,January,Tuesday,1,31.03,False,...,4.546427,962.8609,29877.573727,5.570458,1,1,Afternoon,Day Time,1,0
13,2008-01-01,14,20.00,10891.0,14,January,Tuesday,1,31.70,False,...,4.472136,1004.8900,31855.013000,5.630275,1,1,Afternoon,Day Time,1,0
14,2008-01-01,15,18.33,10935.0,15,January,Tuesday,1,33.37,False,...,4.281355,1113.5569,37159.393753,5.776677,1,1,Afternoon,Day Time,1,0
15,2008-01-01,16,16.67,11029.0,16,January,Tuesday,1,35.03,False,...,4.082891,1227.1009,42985.344527,5.918615,1,1,Afternoon,Day Time,1,0
16,2008-01-01,17,15.33,11241.0,17,January,Tuesday,1,36.37,False,...,3.915354,1322.7769,48109.395853,6.030755,1,1,Afternoon,Day Time,1,0
17,2008-01-01,18,13.33,12166.0,18,January,Tuesday,1,38.37,False,...,3.651027,1472.2569,56490.497253,6.194352,1,1,Evening,Day Time,1,0
18,2008-01-01,19,12.33,13129.0,19,January,Tuesday,1,39.37,False,...,3.511410,1549.9969,61023.377953,6.274552,1,1,Evening,Night Time,0,1
19,2008-01-01,20,10.33,13165.0,20,January,Tuesday,1,41.37,False,...,3.214032,1711.4769,70803.799353,6.431951,1,1,Evening,Night Time,0,1
20,2008-01-01,21,8.33,13107.0,21,January,Tuesday,1,43.37,False,...,2.886174,1880.9569,81577.100753,6.585590,1,1,Evening,Night Time,0,1
21,2008-01-01,22,7.00,12996.0,22,January,Tuesday,1,44.70,False,...,2.645751,1998.0900,89314.623000,6.685806,1,1,Evening,Night Time,0,1
22,2008-01-01,23,6.00,12665.0,23,January,Tuesday,1,45.70,False,...,2.449490,2088.4900,95443.993000,6.760178,1,1,Midnight,Night Time,0,1
23,2008-01-01,24,4.00,12049.0,24,January,Tuesday,1,47.70,False,...,2.000000,2275.2900,108531.333000,6.906519,1,1,Midnight,Night Time,0,1
24,2008-01-02,1,3.00,11422.0,25,January,Wednesday,0,48.70,False,...,1.732051,2371.6900,115501.303000,6.978539,2,1,Midnight,Night Time,0,1
25,2008-01-02,2,2.67,11057.0,26,January,Wednesday,0,49.03,False,...,1.634013,2403.9409,117865.222327,7.002143,2,1,Midnight,Night Time,0,1
26,2008-01-02,3,2.00,10816.0,27,January,Wednesday,0,49.70,False,...,1.414214,2470.0900,122763.473000,7.049823,2,1,Midnight,Night Time,0,1
27,2008-01-02,4,2.33,10729.0,28,January,Wednesday,0,49.37,False,...,1.526434,2437.3969,120334.284953,7.026379,2,1,Midnight,Night Time,0,1
28,2008-01-02,5,3.00,10788.0,29,January,Wednesday,0,48.70,False,...,1.732051,2371.6900,115501.303000,6.978539,2,1,Midnight,Night Time,0,1
29,2008-01-02,6,2.33,11077.0,30,January,Wednesday,0,49.37,False,...,1.526434,2437.3969,120334.284953,7.026379,2,1,Morning,Night Time,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43818,2012-12-30,19,29.67,NaN,43819,December,Sunday,0,22.03,False,...,5.447018,485.3209,10691.619427,4.693613,30,5,Evening,Night Time,0,1
43819,2012-12-30,20,30.67,NaN,43820,December,Sunday,0,21.03,False,...,5.538050,442.2609,9300.746727,4.585848,30,5,Evening,Night Time,0,1
43820,2012-12-30,21,31.33,NaN,43821,December,Sunday,0,20.37,False,...,5.597321,414.9369,8452.264653,4.513314,30,5,Evening,Night Time,0,1
43821,2012-12-30,22,31.67,NaN,43822,December,Sunday,0,20.03,False,...,5.627611,401.2009,8036.054027,4.475489,30,5,Evening,Night Time,0,1
43822,2012-12-30,23,31.67,NaN,43823,December,Sunday,0,20.03,False,...,5.627611,401.2009,8036.054027,4.475489,30,5,Midnight,Night Time,0,1
43823,2012-12-30,24,26.67,NaN,43824,December,Sunday,0,25.03,False,...,5.164301,626.5009,15681.317527,5.002999,30,5,Midnight,Night Time,0,1
43824,2012-12-31,1,30.67,NaN,43825,December,Monday,0,21.03,False,...,5.538050,442.2609,9300.746727,4.585848,31,5,Midnight,Night Time,0,1
43825,2012-12-31,2,31.67,NaN,43826,December,Monday,0,20.03,False,...,5.627611,401.2009,8036.054027,4.475489,31,5,Midnight,Night Time,0,1
43826,2012-12-31,3,32.33,NaN,43827,December,Monday,0,19.37,False,...,5.685948,375.1969,7267.563953,4.401136,31,5,Midnight,Night Time,0,1
43827,2012-12-31,4,33.00,NaN,43828,December,Monday,0,18.70,False,...,5.744563,349.6900,6539.203000,4.324350,31,5,Midnight,Night Time,0,1
43828,2012-12-31,5,33.33,NaN,43829,December,Monday,0,18.37,False,...,5.773214,337.4569,6199.083253,4.286024,31,5,Midnight,Night Time,0,1
43829,2012-12-31,6,33.33,NaN,43830,December,Monday,0,18.37,False,...,5.773214,337.4569,6199.083253,4.286024,31,5,Morning,Night Time,0,1
43830,2012-12-31,7,33.00,NaN,43831,December,Monday,0,18.70,False,...,5.744563,349.6900,6539.203000,4.324350,31,5,Morning,Day Time,1,0
43831,2012-12-31,8,32.67,NaN,43832,December,Monday,0,19.03,False,...,5.715768,362.1409,6891.541327,4.362339,31,5,Morning,Day Time,1,0
43832,2012-12-31,9,32.67,NaN,43833,December,Monday,0,19.03,False,...,5.715768,362.1409,6891.541327,4.362339,31,5,Morning,Day Time,1,0
43833,2012-12-31,10,32.00,NaN,43834,December,Monday,0,19.70,False,...,5.656854,388.0900,7645.373000,4.438468,31,5,Morning,Day Time,1,0
43834,2012-12-31,11,31.00,NaN,43835,December,Monday,0,20.70,False,...,5.567764,428.4900,8869.743000,4.549725,31,5,Morning,Day Time,1,0
43835,2012-12-31,12,30.33,NaN,43836,December,Monday,0,21.37,False,...,5.507268,456.6769,9759.185353,4.622770,31,5,Morning,Day Time,1,0
43836,2012-12-31,13,29.00,NaN,43837,December,Monday,0,22.70,False,...,5.385165,515.2900,11697.083000,4.764452,31,5,Afternoon,Day Time,1,0
43837,2012-12-31,14,28.33,NaN,43838,December,Monday,0,23.37,False,...,5.322593,546.1569,12763.686753,4.834253,31,5,Afternoon,Day Time,1,0
43838,2012-12-31,15,26.67,NaN,43839,December,Monday,0,25.03,False,...,5.164301,626.5009,15681.317527,5.002999,31,5,Afternoon,Day Time,1,0
43839,2012-12-31,16,26.00,NaN,43840,December,Monday,0,25.70,False,...,5.099020,660.4900,16974.593000,5.069517,31,5,Afternoon,Day Time,1,0
43840,2012-12-31,17,24.33,NaN,43841,December,Monday,0,27.37,False,...,4.932545,749.1169,20503.329553,5.231635,31,5,Afternoon,Day Time,1,0
43841,2012-12-31,18,24.00,NaN,43842,December,Monday,0,27.70,False,...,4.898979,767.2900,21253.933000,5.263079,31,5,Evening,Day Time,1,0
43842,2012-12-31,19,23.33,NaN,43843,December,Monday,0,28.37,False,...,4.830114,804.8569,22833.790253,5.326350,31,5,Evening,Night Time,0,1
43843,2012-12-31,20,22.33,NaN,43844,December,Monday,0,29.37,False,...,4.725463,862.5969,25334.470953,5.419410,31,5,Evening,Night Time,0,1
43844,2012-12-31,21,20.67,NaN,43845,December,Monday,0,31.03,False,...,4.546427,962.8609,29877.573727,5.570458,31,5,Evening,Night Time,0,1
43845,2012-12-31,22,19.67,NaN,43846,December,Monday,0,32.03,False,...,4.435087,1025.9209,32860.246427,5.659505,31,5,Evening,Night Time,0,1
43846,2012-12-31,23,19.33,NaN,43847,December,Monday,0,32.37,False,...,4.396590,1047.8169,33917.833053,5.689464,31,5,Midnight,Night Time,0,1
43847,2012-12-31,24,18.33,NaN,43848,December,Monday,0,33.37,False,...,4.281355,1113.5569,37159.393753,5.776677,31,5,Midnight,Night Time,0,1

In [136]:
data['Date'] = [datetime.datetime.strptime(date, '%Y-%m-%d') for date in data['Date']]
data['quarter']=data['Date'].dt.quarter

In [137]:
new_data=data.copy()

In [138]:
keys24= ['temp_max_24','temp_max_24','temp_max_24','temp_max_24','temp_max_24']
keys12= ['temp_max_12','temp_max_12','temp_max_12','temp_max_12','temp_max_12']
keys6= ['temp_max_6','temp_max_6','temp_max_6','temp_max_6','temp_max_6']
max24={}
max12={}
max6={}
for i in range(5):
    col='Temperature'
    rolling_max24 = data[col].rolling(window=24).max()
    max24[keys24[i]]=rolling_max24
    rolling_max12 = data[col].rolling(window=12).max()
    max12[keys12[i]]=rolling_max12
    rolling_max6 = data[col].rolling(window=6).max()
    max6[keys6[i]]=rolling_max6

In [139]:
#dict to dataframe
max6_df=pd.DataFrame.from_dict(max6)
max12_df=pd.DataFrame.from_dict(max12)
max24_df=pd.DataFrame.from_dict(max24)

In [140]:
new_data=pd.merge(new_data,max6_df,left_on=new_data.index,right_on=max6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,max12_df,left_on=new_data.index,right_on=max12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,max24_df,left_on=new_data.index,right_on=max24_df.index,how='inner').drop('key_0',axis=1)

In [141]:
keys24= ['temp_min_24','temp_min_24','temp_min_24','temp_min_24','temp_min_24']
keys12= ['temp_min_12','temp_min_12','temp_min_12','temp_min_12','temp_min_12']
keys6= ['temp_min_6','temp_min_6','temp_min_6','temp_min_6','temp_min_6']
min24={}
min12={}
min6={}
for i in range(5):
    col='Temperature'
    rolling_min24 = data[col].rolling(window=24).min()
    min24[keys24[i]]=rolling_min24
    rolling_min12 = data[col].rolling(window=12).min()
    min12[keys12[i]]=rolling_min12
    rolling_min6 = data[col].rolling(window=6).min()
    min6[keys6[i]]=rolling_min6

In [142]:
#dict to dataframe
min6_df=pd.DataFrame.from_dict(min6)
min12_df=pd.DataFrame.from_dict(min12)
min24_df=pd.DataFrame.from_dict(min24)

In [143]:
new_data=pd.merge(new_data,min6_df,left_on=new_data.index,right_on=min6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,min12_df,left_on=new_data.index,right_on=min12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,min24_df,left_on=new_data.index,right_on=min24_df.index,how='inner').drop('key_0',axis=1)

In [144]:
keys24= ['temp_std_24','temp_std_24','temp_std_24','temp_std_24','temp_std_24']
keys12= ['temp_std_12','temp_std_12','temp_std_12','temp_std_12','temp_std_12']
keys6= ['temp_std_6','temp_std_6','temp_std_6','temp_std_6','temp_std_6']
std24={}
std12={}
std6={}
for i in range(5):
    col='Temperature'
    rolling_std24 = data[col].rolling(window=24).std()
    std24[keys24[i]]=rolling_std24
    rolling_std12 = data[col].rolling(window=12).std()
    std12[keys12[i]]=rolling_std12
    rolling_std6 = data[col].rolling(window=6).std()
    std6[keys6[i]]=rolling_std6

In [145]:
#dict to dataframe
std6_df=pd.DataFrame.from_dict(std6)
std12_df=pd.DataFrame.from_dict(std12)
std24_df=pd.DataFrame.from_dict(std24)

In [146]:
new_data=pd.merge(new_data,std6_df,left_on=new_data.index,right_on=std6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,std12_df,left_on=new_data.index,right_on=std12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,std24_df,left_on=new_data.index,right_on=std24_df.index,how='inner').drop('key_0',axis=1)

In [147]:
keys24= ['temp_mean_24','temp_mean_24','temp_mean_24','temp_mean_24','temp_mean_24']
keys12= ['temp_mean_12','temp_mean_12','temp_mean_12','temp_mean_12','temp_mean_12']
keys6= ['temp_mean_6','temp_mean_6','temp_mean_6','temp_mean_6','temp_mean_6']
mean24={}
mean12={}
mean6={}
for i in range(5):
    col='Temperature'
    rolling_mean24 = data[col].rolling(window=24).mean()
    mean24[keys24[i]]=rolling_mean24
    rolling_mean12 = data[col].rolling(window=12).mean()
    mean12[keys12[i]]=rolling_mean12
    rolling_mean6 = data[col].rolling(window=6).mean()
    mean6[keys6[i]]=rolling_mean6

In [148]:
#dict to dataframe
mean6_df=pd.DataFrame.from_dict(mean6)
mean12_df=pd.DataFrame.from_dict(mean12)
mean24_df=pd.DataFrame.from_dict(mean24)

In [149]:
new_data=pd.merge(new_data,mean6_df,left_on=new_data.index,right_on=mean6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,mean12_df,left_on=new_data.index,right_on=mean12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,mean24_df,left_on=new_data.index,right_on=mean24_df.index,how='inner').drop('key_0',axis=1)

In [150]:
cat_variable=['Hour','month','quarter','weekday','month.week','Time_of_day','Day_Night_Time']
new_data_join=new_data
import category_encoders as ce
for col in cat_variable:
    X = new_data_join[col]
    y = new_data_join['Load']

    te = ce.target_encoder.TargetEncoder(cols=col)
    te.fit(X,y)
    X_TE = te.transform(X,y)
    new_data_join=pd.merge(new_data_join, X_TE, left_on=new_data_join.index, right_on=X_TE.index, how='inner',suffixes=('', '_Mean_Encoding'))
    new_data_join=new_data_join.drop('key_0',axis=1)

In [151]:
new_data_join

,Date,Hour,Temperature,Load,trend,month,weekday,holiday,TempDistance,Temp>51.7?,...,temp_mean_6,temp_mean_12,temp_mean_24,Hour_Mean_Encoding,month_Mean_Encoding,quarter_Mean_Encoding,weekday_Mean_Encoding,month.week_Mean_Encoding,Time_of_day_Mean_Encoding,Day_Night_Time_Mean_Encoding
0,2008-01-01,1,25.00,10737.0,1,January,Tuesday,1,26.70,False,...,NaN,NaN,NaN,10692.924709,12387.450941,11758.905009,12173.722089,11581.518973,10443.747922,11192.520591
1,2008-01-01,2,24.00,10348.0,2,January,Tuesday,1,27.70,False,...,NaN,NaN,NaN,10067.589322,12387.450941,11758.905009,12173.722089,11581.518973,10443.747922,11192.520591
2,2008-01-01,3,23.00,9997.0,3,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9672.249829,12387.450941,11758.905009,12173.722089,11581.518973,10443.747922,11192.520591
3,2008-01-01,4,23.00,9760.0,4,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9422.786448,12387.450941,11758.905009,12173.722089,11581.518973,10443.747922,11192.520591
4,2008-01-01,5,23.00,9624.0,5,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9329.393566,12387.450941,11758.905009,12173.722089,11581.518973,10443.747922,11192.520591
5,2008-01-01,6,22.33,9619.0,6,January,Tuesday,1,29.37,False,...,23.388333,NaN,NaN,9459.468172,12387.450941,11758.905009,12173.722089,11581.518973,11137.203285,11192.520591
6,2008-01-01,7,21.00,9794.0,7,January,Tuesday,1,30.70,False,...,22.721667,NaN,NaN,9932.177960,12387.450941,11758.905009,12173.722089,11581.518973,11137.203285,12086.374458
7,2008-01-01,8,21.00,10021.0,8,January,Tuesday,1,30.70,False,...,22.221667,NaN,NaN,10742.174538,12387.450941,11758.905009,12173.722089,11581.518973,11137.203285,12086.374458
8,2008-01-01,9,21.00,9984.0,9,January,Tuesday,1,30.70,False,...,21.888333,NaN,NaN,11378.247775,12387.450941,11758.905009,12173.722089,11581.518973,11137.203285,12086.374458
9,2008-01-01,10,21.33,10067.0,10,January,Tuesday,1,30.37,False,...,21.610000,NaN,NaN,11827.310062,12387.450941,11758.905009,12173.722089,11581.518973,11137.203285,12086.374458
10,2008-01-01,11,20.67,10367.0,11,January,Tuesday,1,31.03,False,...,21.221667,NaN,NaN,12165.643395,12387.450941,11758.905009,12173.722089,11581.518973,11137.203285,12086.374458
11,2008-01-01,12,20.33,10625.0,12,January,Tuesday,1,31.37,False,...,20.888333,22.138333,NaN,12455.401095,12387.450941,11758.905009,12173.722089,11581.518973,11137.203285,12086.374458
12,2008-01-01,13,20.67,10795.0,13,January,Tuesday,1,31.03,False,...,20.833333,21.777500,NaN,12605.521561,12387.450941,11758.905009,12173.722089,11581.518973,12723.067077,12086.374458
13,2008-01-01,14,20.00,10891.0,14,January,Tuesday,1,31.70,False,...,20.666667,21.444167,NaN,12688.292266,12387.450941,11758.905009,12173.722089,11581.518973,12723.067077,12086.374458
14,2008-01-01,15,18.33,10935.0,15,January,Tuesday,1,33.37,False,...,20.221667,21.055000,NaN,12769.956879,12387.450941,11758.905009,12173.722089,11581.518973,12723.067077,12086.374458
15,2008-01-01,16,16.67,11029.0,16,January,Tuesday,1,35.03,False,...,19.445000,20.527500,NaN,12773.235455,12387.450941,11758.905009,12173.722089,11581.518973,12723.067077,12086.374458
16,2008-01-01,17,15.33,11241.0,17,January,Tuesday,1,36.37,False,...,18.555000,19.888333,NaN,12778.329227,12387.450941,11758.905009,12173.722089,11581.518973,12723.067077,12086.374458
17,2008-01-01,18,13.33,12166.0,18,January,Tuesday,1,38.37,False,...,17.388333,19.138333,NaN,12920.203285,12387.450941,11758.905009,12173.722089,11581.518973,12932.949350,12086.374458
18,2008-01-01,19,12.33,13129.0,19,January,Tuesday,1,39.37,False,...,15.998333,18.415833,NaN,13064.015058,12387.450941,11758.905009,12173.722089,11581.518973,12932.949350,11192.520591
19,2008-01-01,20,10.33,13165.0,20,January,Tuesday,1,41.37,False,...,14.386667,17.526667,NaN,12979.045859,12387.450941,11758.905009,12173.722089,11581.518973,12932.949350,11192.520591
20,2008-01-01,21,8.33,13107.0,21,January,Tuesday,1,43.37,False,...,12.720000,16.470833,NaN,12905.290212,12387.450941,11758.905009,12173.722089,11581.518973,12932.949350,11192.520591
21,2008-01-01,22,7.00,12996.0,22,January,Tuesday,1,44.70,False,...,11.108333,15.276667,NaN,12796.192334,12387.450941,11758.905009,12173.722089,11581.518973,12932.949350,11192.520591
22,2008-01-01,23,6.00,12665.0,23,January,Tuesday,1,45.70,False,...,9.553333,14.054167,NaN,12372.291581,12387.450941,11758.905009,12173.722089,11581.518973,10443.747922,11192.520591
23,2008-01-01,24,4.00,12049.0,24,January,Tuesday,1,47.70,False,...,7.998333,12.693333,17.415833,11549.000000,12387.450941,11758.905009,12173.722089,11581.518973,10443.747922,11192.520591
24,2008-01-02,1,3.00,11422.0,25,January,Wednesday,0,48.70,False,...,6.443333,11.220833,16.499167,10692.924709,12387.450941,11758.905009,12152.685805,11581.518973,10443.747922,11192.520591
25,2008-01-02,2,2.67,11057.0,26,January,Wednesday,0,49.03,False,...,5.166667,9.776667,15.610417,10067.589322,12387.450941,11758.905009,12152.685805,11581.518973,10443.747922,11192.520591
26,2008-01-02,3,2.00,10816.0,27,January,Wednesday,0,49.70,False,...,4.111667,8.415833,14.735417,9672.249829,12387.450941,11758.905009,12152.685805,11581.518973,10443.747922,11192.520591
27,2008-01-02,4,2.33,10729.0,28,January,Wednesday,0,49.37,False,...,3.333333,7.220833,13.874167,9422.786448,12387.450941,11758.905009,12152.685805,11581.518973,10443.747922,11192.520591
28,2008-01-02,5,3.00,10788.0,29,January,Wednesday,0,48.70,False,...,2.833333,6.193333,13.040833,9329.393566,12387.450941,11758.905009,12152.685805,11581.518973,10443.747922,11192.520591
29,2008-01-02,6,2.33,11077.0,30,January,Wednesday,0,49.37,False,...,2.555000,5.276667,12.207500,9459.468172,12387.450941,11758.905009,12152.685805,11581.518973,11137.203285,11192.520591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43818,2012-12-30,19,29.67,NaN,43819,December,Sunday,0,22.03,False,...,29.501667,25.360833,21.152500,13064.015058,11979.933468,10997.143342,10384.698918,11597.153846,12932.949350,11192.520591
43819,2012-12-30,20,30.67,NaN,43820,December,Sunday,0,21.03,False,...,29.613333,26.889167,21.500000,12979.045859,11979.933468,10997.143342,10384.698918,11597.153846,12932.949350,11192.520591
43820,2012-12-30,21,31.33,NaN,43821,December,Sunday,0,20.37,False,...,29.835000,28.166667,21.902500,12905.290212,11979.933468,10997.143342,10384.698918,11597.153846,12932.949350,11192.520591
43821,2012-12-30,22,31.67,NaN,43822,December,Sunday,0,20.03,False,...,30.113333,29.139167,22.360833,12796.192334,11979.933468,10997.143342,10384.698918,11597.153846,12932.949350,11192.520591
43822,2012-12-30,23,31.67,NaN,43823,December,Sunday,0,20.03,False,...,30.613333,29.834167,22.888750,12372.291581,11979.933468,10997.143342,10384.698918,11597.153846,10443.747922,11192.520591
43823,2012-12-30,24,26.67,NaN,43824,December,Sunday,0,25.03,False,...,30.280000,29.862500,23.097083,11549.000000,11979.933468,10997.143342,10384.698918,11597.153846,10443.747922,11192.520591
43824,2012-12-31,1,30.67,NaN,43825,December,Monday,0,21.03,False,...,30.446667,29.974167,23.694583,10692.924709,11979.933468,10997.143342,11898.911859,11597.153846,10443.747922,11192.520591
43825,2012-12-31,2,31.67,NaN,43826,December,Monday,0,20.03,False,...,30.613333,30.113333,24.375417,10067.589322,11979.933468,10997.143342,11898.911859,11597.153846,10443.747922,11192.520591
43826,2012-12-31,3,32.33,NaN,43827,December,Monday,0,19.37,False,...,30.780000,30.307500,25.125417,9672.249829,11979.933468,10997.143342,11898.911859,11597.153846,10443.747922,11192.520591
43827,2012-12-31,4,33.00,NaN,43828,December,Monday,0,18.70,False,...,31.001667,30.557500,25.930833,9422.786448,11979.933468,10997.143342,11898.911859,11597.153846,10443.747922,11192.520591
43828,2012-12-31,5,33.33,NaN,43829,December,Monday,0,18.37,False,...,31.278333,30.945833,26.764167,9329.393566,11979.933468,10997.143342,11898.911859,11597.153846,10443.747922,11192.520591
43829,2012-12-31,6,33.33,NaN,43830,December,Monday,0,18.37,False,...,32.388333,31.334167,27.611250,9459.468172,11979.933468,10997.143342,11898.911859,11597.153846,11137.203285,11192.520591
43830,2012-12-31,7,33.00,NaN,43831,December,Monday,0,18.70,False,...,32.776667,31.611667,28.486250,9932.177960,11979.933468,10997.143342,11898.911859,11597.153846,11137.203285,12086.374458
43831,2012-12-31,8,32.67,NaN,43832,December,Monday,0,19.03,False,...,32.943333,31.778333,29.333750,10742.174538,11979.933468,10997.143342,11898.911859,11597.153846,11137.203285,12086.374458
43832,2012-12-31,9,32.67,NaN,43833,December,Monday,0,19.03,False,...,33.000000,31.890000,30.028333,11378.247775,11979.933468,10997.143342,11898.911859,11597.153846,11137.203285,12086.374458
43833,2012-12-31,10,32.00,NaN,43834,December,Monday,0,19.70,False,...,32.833333,31.917500,30.528333,11827.310062,11979.933468,10997.143342,11898.911859,11597.153846,11137.203285,12086.374458
43834,2012-12-31,11,31.00,NaN,43835,December,Monday,0,20.70,False,...,32.445000,31.861667,30.847917,12165.643395,11979.933468,10997.143342,11898.911859,11597.153846,11137.203285,12086.374458
43835,2012-12-31,12,30.33,NaN,43836,December,Monday,0,21.37,False,...,31.945000,32.166667,31.014583,12455.401095,11979.933468,10997.143342,11898.911859,11597.153846,11137.203285,12086.374458
43836,2012-12-31,13,29.00,NaN,43837,December,Monday,0,22.70,False,...,31.278333,32.027500,31.000833,12605.521561,11979.933468,10997.143342,11898.911859,11597.153846,12723.067077,12086.374458
43837,2012-12-31,14,28.33,NaN,43838,December,Monday,0,23.37,False,...,30.555000,31.749167,30.931250,12688.292266,11979.933468,10997.143342,11898.911859,11597.153846,12723.067077,12086.374458
43838,2012-12-31,15,26.67,NaN,43839,December,Monday,0,25.03,False,...,29.555000,31.277500,30.792500,12769.956879,11979.933468,10997.143342,11898.911859,11597.153846,12723.067077,12086.374458
43839,2012-12-31,16,26.00,NaN,43840,December,Monday,0,25.70,False,...,28.555000,30.694167,30.625833,12773.235455,11979.933468,10997.143342,11898.911859,11597.153846,12723.067077,12086.374458
43840,2012-12-31,17,24.33,NaN,43841,December,Monday,0,27.37,False,...,27.443333,29.944167,30.445000,12778.329227,11979.933468,10997.143342,11898.911859,11597.153846,12723.067077,12086.374458
43841,2012-12-31,18,24.00,NaN,43842,December,Monday,0,27.70,False,...,26.388333,29.166667,30.250417,12920.203285,11979.933468,10997.143342,11898.911859,11597.153846,12932.949350,12086.374458
43842,2012-12-31,19,23.33,NaN,43843,December,Monday,0,28.37,False,...,25.443333,28.360833,29.986250,13064.015058,11979.933468,10997.143342,11898.911859,11597.153846,12932.949350,11192.520591
43843,2012-12-31,20,22.33,NaN,43844,December,Monday,0,29.37,False,...,24.443333,27.499167,29.638750,12979.045859,11979.933468,10997.143342,11898.911859,11597.153846,12932.949350,11192.520591
43844,2012-12-31,21,20.67,NaN,43845,December,Monday,0,31.03,False,...,23.443333,26.499167,29.194583,12905.290212,11979.933468,10997.143342,11898.911859,11597.153846,12932.949350,11192.520591
43845,2012-12-31,22,19.67,NaN,43846,December,Monday,0,32.03,False,...,22.388333,25.471667,28.694583,12796.192334,11979.933468,10997.143342,11898.911859,11597.153846,12932.949350,11192.520591
43846,2012-12-31,23,19.33,NaN,43847,December,Monday,0,32.37,False,...,21.555000,24.499167,28.180417,12372.291581,11979.933468,10997.143342,11898.911859,11597.153846,10443.747922,11192.520591
43847,2012-12-31,24,18.33,NaN,43848,December,Monday,0,33.37,False,...,20.610000,23.499167,27.832917,11549.000000,11979.933468,10997.143342,11898.911859,11597.153846,10443.747922,11192.520591

In [152]:
new_data_join.columns.values

array(['Date', 'Hour', 'Temperature', 'Load', 'trend', 'month', 'weekday',
       'holiday', 'TempDistance', 'Temp>51.7?', 'TemperatureLag1',
       'Temperature_Lag1_2', 'Temperature_Lag1_3', 'TempDistanceLag1',
       'TempDistance_Lag1_2', 'TempDistance_Lag1_0.5', 'TemperatureLag2',
       'Temperature_Lag2_2', 'Temperature_Lag2_3', 'TempDistanceLag2',
       'TempDistance_Lag2_2', 'TempDistance_Lag2_0.5', 'TemperatureLag3',
       'Temperature_Lag3_2', 'Temperature_Lag3_3', 'TempDistanceLag3',
       'TempDistance_Lag3_2', 'TempDistance_Lag3_0.5', 'TemperatureLag4',
       'Temperature_Lag4_2', 'Temperature_Lag4_3', 'TempDistanceLag4',
       'TempDistance_Lag4_2', 'TempDistance_Lag4_0.5', 'TemperatureLag5',
       'Temperature_Lag5_2', 'Temperature_Lag5_3', 'TempDistanceLag5',
       'TempDistance_Lag5_2', 'TempDistance_Lag5_0.5', 'TemperatureLag6',
       'Temperature_Lag6_2', 'Temperature_Lag6_3', 'TempDistanceLag6',
       'TempDistance_Lag6_2', 'TempDistance_Lag6_0.5', 'TemperatureLag12',
       'Temperature_Lag12_2', 'Temperature_Lag12_3', 'TempDistanceLag12',
       'TempDistance_Lag12_2', 'TempDistance_Lag12_0.5',
       'TemperatureLag24', 'Temperature_Lag24_2', 'Temperature_Lag24_3',
       'TempDistanceLag24', 'TempDistance_Lag24_2',
       'TempDistance_Lag24_0.5', 'TemperatureLag48',
       'Temperature_Lag48_2', 'Temperature_Lag48_3', 'TempDistanceLag48',
       'TempDistance_Lag48_2', 'TempDistance_Lag48_0.5', 'Temperature^2',
       'Temperature^3', 'Temperature^1/2', 'TempDistance^2',
       'TempDistance^3', 'TempDistance^1/2', 'day', 'month.week',
       'Time_of_day', 'Day_Night_Time', 'DayTime', 'NightTime', 'quarter',
       'temp_max_6', 'temp_max_12', 'temp_max_24', 'temp_min_6',
       'temp_min_12', 'temp_min_24', 'temp_std_6', 'temp_std_12',
       'temp_std_24', 'temp_mean_6', 'temp_mean_12', 'temp_mean_24',
       'Hour_Mean_Encoding', 'month_Mean_Encoding',
       'quarter_Mean_Encoding', 'weekday_Mean_Encoding',
       'month.week_Mean_Encoding', 'Time_of_day_Mean_Encoding',
       'Day_Night_Time_Mean_Encoding'], dtype=object)

In [153]:
new_data_join.shape

(43848, 96)

In [154]:
new_data_join.to_csv('02_new_data_join_2011.csv')