In [332]:
import pandas as pd
import datetime
import numpy as np
data=pd.read_csv('01_variable_creation.csv')

In [333]:
data=data.drop('Unnamed: 0',axis=1)

In [334]:
data.columns

Index(['Date', 'Hour', 'Temperature', 'Load', 'trend', 'month', 'weekday',
       'holiday', 'TempDistance', 'Temp>51.7?', 'TemperatureLag1',
       'Temperature_Lag1_2', 'Temperature_Lag1_3', 'TempDistanceLag1',
       'TempDistance_Lag1_2', 'TempDistance_Lag1_0.5', 'TemperatureLag2',
       'Temperature_Lag2_2', 'Temperature_Lag2_3', 'TempDistanceLag2',
       'TempDistance_Lag2_2', 'TempDistance_Lag2_0.5', 'TemperatureLag3',
       'Temperature_Lag3_2', 'Temperature_Lag3_3', 'TempDistanceLag3',
       'TempDistance_Lag3_2', 'TempDistance_Lag3_0.5', 'TemperatureLag4',
       'Temperature_Lag4_2', 'Temperature_Lag4_3', 'TempDistanceLag4',
       'TempDistance_Lag4_2', 'TempDistance_Lag4_0.5', 'TemperatureLag5',
       'Temperature_Lag5_2', 'Temperature_Lag5_3', 'TempDistanceLag5',
       'TempDistance_Lag5_2', 'TempDistance_Lag5_0.5', 'TemperatureLag6',
       'Temperature_Lag6_2', 'Temperature_Lag6_3', 'TempDistanceLag6',
       'TempDistance_Lag6_2', 'TempDistance_Lag6_0.5', 'TemperatureLag12',
       'Temperature_Lag12_2', 'Temperature_Lag12_3', 'TempDistanceLag12',
       'TempDistance_Lag12_2', 'TempDistance_Lag12_0.5', 'TemperatureLag24',
       'Temperature_Lag24_2', 'Temperature_Lag24_3', 'TempDistanceLag24',
       'TempDistance_Lag24_2', 'TempDistance_Lag24_0.5', 'TemperatureLag48',
       'Temperature_Lag48_2', 'Temperature_Lag48_3', 'TempDistanceLag48',
       'TempDistance_Lag48_2', 'TempDistance_Lag48_0.5', 'Temperature^2',
       'Temperature^3', 'Temperature^1/2', 'TempDistance^2', 'TempDistance^3',
       'TempDistance^1/2', 'day', 'month.week', 'Time_of_day',
       'Day_Night_Time', 'DayTime', 'NightTime'],
      dtype='object')

In [335]:
data['Date'] = [datetime.datetime.strptime(date, '%Y-%m-%d') for date in data['Date']]
data['quarter']=data['Date'].dt.quarter
new_data=data.copy()

In [336]:
keys24= ['temp_max_24','temp_max_24','temp_max_24','temp_max_24','temp_max_24']
keys12= ['temp_max_12','temp_max_12','temp_max_12','temp_max_12','temp_max_12']
keys6= ['temp_max_6','temp_max_6','temp_max_6','temp_max_6','temp_max_6']
max24={}
max12={}
max6={}
for i in range(5):
    col='Temperature'
    rolling_max24 = data[col].rolling(window=24).max()
    max24[keys24[i]]=rolling_max24
    rolling_max12 = data[col].rolling(window=12).max()
    max12[keys12[i]]=rolling_max12
    rolling_max6 = data[col].rolling(window=6).max()
    max6[keys6[i]]=rolling_max6

In [337]:
#dict to dataframe
max6_df=pd.DataFrame.from_dict(max6)
max12_df=pd.DataFrame.from_dict(max12)
max24_df=pd.DataFrame.from_dict(max24)

In [338]:
new_data=pd.merge(new_data,max6_df,left_on=new_data.index,right_on=max6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,max12_df,left_on=new_data.index,right_on=max12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,max24_df,left_on=new_data.index,right_on=max24_df.index,how='inner').drop('key_0',axis=1)

In [339]:
keys24= ['temp_min_24','temp_min_24','temp_min_24','temp_min_24','temp_min_24']
keys12= ['temp_min_12','temp_min_12','temp_min_12','temp_min_12','temp_min_12']
keys6= ['temp_min_6','temp_min_6','temp_min_6','temp_min_6','temp_min_6']
min24={}
min12={}
min6={}
for i in range(5):
    col='Temperature'
    rolling_min24 = data[col].rolling(window=24).min()
    min24[keys24[i]]=rolling_min24
    rolling_min12 = data[col].rolling(window=12).min()
    min12[keys12[i]]=rolling_min12
    rolling_min6 = data[col].rolling(window=6).min()
    min6[keys6[i]]=rolling_min6

In [340]:
#dict to dataframe
min6_df=pd.DataFrame.from_dict(min6)
min12_df=pd.DataFrame.from_dict(min12)
min24_df=pd.DataFrame.from_dict(min24)

In [341]:
new_data=pd.merge(new_data,min6_df,left_on=new_data.index,right_on=min6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,min12_df,left_on=new_data.index,right_on=min12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,min24_df,left_on=new_data.index,right_on=min24_df.index,how='inner').drop('key_0',axis=1)

In [342]:
keys24= ['temp_std_24','temp_std_24','temp_std_24','temp_std_24','temp_std_24']
keys12= ['temp_std_12','temp_std_12','temp_std_12','temp_std_12','temp_std_12']
keys6= ['temp_std_6','temp_std_6','temp_std_6','temp_std_6','temp_std_6']
std24={}
std12={}
std6={}
for i in range(5):
    col='Temperature'
    rolling_std24 = data[col].rolling(window=24).std()
    std24[keys24[i]]=rolling_std24
    rolling_std12 = data[col].rolling(window=12).std()
    std12[keys12[i]]=rolling_std12
    rolling_std6 = data[col].rolling(window=6).std()
    std6[keys6[i]]=rolling_std6

In [343]:
#dict to dataframe
std6_df=pd.DataFrame.from_dict(std6)
std12_df=pd.DataFrame.from_dict(std12)
std24_df=pd.DataFrame.from_dict(std24)

In [344]:
new_data=pd.merge(new_data,std6_df,left_on=new_data.index,right_on=std6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,std12_df,left_on=new_data.index,right_on=std12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,std24_df,left_on=new_data.index,right_on=std24_df.index,how='inner').drop('key_0',axis=1)

In [345]:
keys24= ['temp_mean_24','temp_mean_24','temp_mean_24','temp_mean_24','temp_mean_24']
keys12= ['temp_mean_12','temp_mean_12','temp_mean_12','temp_mean_12','temp_mean_12']
keys6= ['temp_mean_6','temp_mean_6','temp_mean_6','temp_mean_6','temp_mean_6']
mean24={}
mean12={}
mean6={}
for i in range(5):
    col='Temperature'
    rolling_mean24 = data[col].rolling(window=24).mean()
    mean24[keys24[i]]=rolling_mean24
    rolling_mean12 = data[col].rolling(window=12).mean()
    mean12[keys12[i]]=rolling_mean12
    rolling_mean6 = data[col].rolling(window=6).mean()
    mean6[keys6[i]]=rolling_mean6

In [346]:
#dict to dataframe
mean6_df=pd.DataFrame.from_dict(mean6)
mean12_df=pd.DataFrame.from_dict(mean12)
mean24_df=pd.DataFrame.from_dict(mean24)

In [347]:
new_data=pd.merge(new_data,mean6_df,left_on=new_data.index,right_on=mean6_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,mean12_df,left_on=new_data.index,right_on=mean12_df.index,how='inner').drop('key_0',axis=1)
new_data=pd.merge(new_data,mean24_df,left_on=new_data.index,right_on=mean24_df.index,how='inner').drop('key_0',axis=1)

In [348]:
new_data.loc[(new_data['Date']<'2012-01-01') & (new_data['Date']>='2011-01-01'),'Load']=np.nan

In [349]:
new_data[(new_data['Date']<'2012-01-01') & (new_data['Date']>='2011-01-01')]['Load']

26304   NaN
26305   NaN
26306   NaN
26307   NaN
26308   NaN
26309   NaN
26310   NaN
26311   NaN
26312   NaN
26313   NaN
26314   NaN
26315   NaN
26316   NaN
26317   NaN
26318   NaN
26319   NaN
26320   NaN
26321   NaN
26322   NaN
26323   NaN
26324   NaN
26325   NaN
26326   NaN
26327   NaN
26328   NaN
26329   NaN
26330   NaN
26331   NaN
26332   NaN
26333   NaN
         ..
35034   NaN
35035   NaN
35036   NaN
35037   NaN
35038   NaN
35039   NaN
35040   NaN
35041   NaN
35042   NaN
35043   NaN
35044   NaN
35045   NaN
35046   NaN
35047   NaN
35048   NaN
35049   NaN
35050   NaN
35051   NaN
35052   NaN
35053   NaN
35054   NaN
35055   NaN
35056   NaN
35057   NaN
35058   NaN
35059   NaN
35060   NaN
35061   NaN
35062   NaN
35063   NaN
Name: Load, Length: 8760, dtype: float64

In [350]:
cat_variable=['Hour','month','quarter','weekday','month.week','Time_of_day','Day_Night_Time']
new_data_join=new_data
import category_encoders as ce
for col in cat_variable:
    X = new_data_join[col]
    y = new_data_join['Load']

    te = ce.target_encoder.TargetEncoder(cols=col)
    te.fit(X,y)
    X_TE = te.transform(X,y)
    new_data_join=pd.merge(new_data_join, X_TE, left_on=new_data_join.index, right_on=X_TE.index, how='inner',suffixes=('', '_Mean_Encoding'))
    new_data_join=new_data_join.drop('key_0',axis=1)

In [351]:
new_data_join

,Date,Hour,Temperature,Load,trend,month,weekday,holiday,TempDistance,Temp>51.7?,...,temp_mean_6,temp_mean_12,temp_mean_24,Hour_Mean_Encoding,month_Mean_Encoding,quarter_Mean_Encoding,weekday_Mean_Encoding,month.week_Mean_Encoding,Time_of_day_Mean_Encoding,Day_Night_Time_Mean_Encoding
0,2008-01-01,1,25.00,10737.0,1,January,Tuesday,1,26.70,False,...,NaN,NaN,NaN,10684.714416,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
1,2008-01-01,2,24.00,10348.0,2,January,Tuesday,1,27.70,False,...,NaN,NaN,NaN,10058.352190,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
2,2008-01-01,3,23.00,9997.0,3,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9664.006387,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
3,2008-01-01,4,23.00,9760.0,4,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9418.136861,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
4,2008-01-01,5,23.00,9624.0,5,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9325.227190,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
5,2008-01-01,6,22.33,9619.0,6,January,Tuesday,1,29.37,False,...,23.388333,NaN,NaN,9456.227190,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,11186.940845
6,2008-01-01,7,21.00,9794.0,7,January,Tuesday,1,30.70,False,...,22.721667,NaN,NaN,9929.916058,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
7,2008-01-01,8,21.00,10021.0,8,January,Tuesday,1,30.70,False,...,22.221667,NaN,NaN,10741.920620,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
8,2008-01-01,9,21.00,9984.0,9,January,Tuesday,1,30.70,False,...,21.888333,NaN,NaN,11381.131387,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
9,2008-01-01,10,21.33,10067.0,10,January,Tuesday,1,30.37,False,...,21.610000,NaN,NaN,11833.961679,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
10,2008-01-01,11,20.67,10367.0,11,January,Tuesday,1,31.03,False,...,21.221667,NaN,NaN,12172.316606,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
11,2008-01-01,12,20.33,10625.0,12,January,Tuesday,1,31.37,False,...,20.888333,22.138333,NaN,12462.843978,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
12,2008-01-01,13,20.67,10795.0,13,January,Tuesday,1,31.03,False,...,20.833333,21.777500,NaN,12611.475365,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
13,2008-01-01,14,20.00,10891.0,14,January,Tuesday,1,31.70,False,...,20.666667,21.444167,NaN,12690.639599,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
14,2008-01-01,15,18.33,10935.0,15,January,Tuesday,1,33.37,False,...,20.221667,21.055000,NaN,12767.548358,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
15,2008-01-01,16,16.67,11029.0,16,January,Tuesday,1,35.03,False,...,19.445000,20.527500,NaN,12768.254562,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
16,2008-01-01,17,15.33,11241.0,17,January,Tuesday,1,36.37,False,...,18.555000,19.888333,NaN,12768.628650,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
17,2008-01-01,18,13.33,12166.0,18,January,Tuesday,1,38.37,False,...,17.388333,19.138333,NaN,12908.144161,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,12086.398418
18,2008-01-01,19,12.33,13129.0,19,January,Tuesday,1,39.37,False,...,15.998333,18.415833,NaN,13053.019161,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
19,2008-01-01,20,10.33,13165.0,20,January,Tuesday,1,41.37,False,...,14.386667,17.526667,NaN,12967.938869,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
20,2008-01-01,21,8.33,13107.0,21,January,Tuesday,1,43.37,False,...,12.720000,16.470833,NaN,12898.889599,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
21,2008-01-01,22,7.00,12996.0,22,January,Tuesday,1,44.70,False,...,11.108333,15.276667,NaN,12796.773723,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
22,2008-01-01,23,6.00,12665.0,23,January,Tuesday,1,45.70,False,...,9.553333,14.054167,NaN,12372.826642,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
23,2008-01-01,24,4.00,12049.0,24,January,Tuesday,1,47.70,False,...,7.998333,12.693333,17.415833,11547.177920,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
24,2008-01-02,1,3.00,11422.0,25,January,Wednesday,0,48.70,False,...,6.443333,11.220833,16.499167,10684.714416,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
25,2008-01-02,2,2.67,11057.0,26,January,Wednesday,0,49.03,False,...,5.166667,9.776667,15.610417,10058.352190,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
26,2008-01-02,3,2.00,10816.0,27,January,Wednesday,0,49.70,False,...,4.111667,8.415833,14.735417,9664.006387,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
27,2008-01-02,4,2.33,10729.0,28,January,Wednesday,0,49.37,False,...,3.333333,7.220833,13.874167,9418.136861,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
28,2008-01-02,5,3.00,10788.0,29,January,Wednesday,0,48.70,False,...,2.833333,6.193333,13.040833,9325.227190,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
29,2008-01-02,6,2.33,11077.0,30,January,Wednesday,0,49.37,False,...,2.555000,5.276667,12.207500,9456.227190,12433.890681,11781.057349,12148.032378,11463.402612,11139.759645,11186.940845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43818,2012-12-30,19,29.67,NaN,43819,December,Sunday,0,22.03,False,...,29.501667,25.360833,21.152500,13053.019161,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43819,2012-12-30,20,30.67,NaN,43820,December,Sunday,0,21.03,False,...,29.613333,26.889167,21.500000,12967.938869,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43820,2012-12-30,21,31.33,NaN,43821,December,Sunday,0,20.37,False,...,29.835000,28.166667,21.902500,12898.889599,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43821,2012-12-30,22,31.67,NaN,43822,December,Sunday,0,20.03,False,...,30.113333,29.139167,22.360833,12796.773723,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43822,2012-12-30,23,31.67,NaN,43823,December,Sunday,0,20.03,False,...,30.613333,29.834167,22.888750,12372.826642,12219.815412,11089.940217,10381.732639,11583.101799,10438.634515,11186.940845
43823,2012-12-30,24,26.67,NaN,43824,December,Sunday,0,25.03,False,...,30.280000,29.862500,23.097083,11547.177920,12219.815412,11089.940217,10381.732639,11583.101799,10438.634515,11186.940845
43824,2012-12-31,1,30.67,NaN,43825,December,Monday,0,21.03,False,...,30.446667,29.974167,23.694583,10684.714416,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43825,2012-12-31,2,31.67,NaN,43826,December,Monday,0,20.03,False,...,30.613333,30.113333,24.375417,10058.352190,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43826,2012-12-31,3,32.33,NaN,43827,December,Monday,0,19.37,False,...,30.780000,30.307500,25.125417,9664.006387,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43827,2012-12-31,4,33.00,NaN,43828,December,Monday,0,18.70,False,...,31.001667,30.557500,25.930833,9418.136861,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43828,2012-12-31,5,33.33,NaN,43829,December,Monday,0,18.37,False,...,31.278333,30.945833,26.764167,9325.227190,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43829,2012-12-31,6,33.33,NaN,43830,December,Monday,0,18.37,False,...,32.388333,31.334167,27.611250,9456.227190,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,11186.940845
43830,2012-12-31,7,33.00,NaN,43831,December,Monday,0,18.70,False,...,32.776667,31.611667,28.486250,9929.916058,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43831,2012-12-31,8,32.67,NaN,43832,December,Monday,0,19.03,False,...,32.943333,31.778333,29.333750,10741.920620,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43832,2012-12-31,9,32.67,NaN,43833,December,Monday,0,19.03,False,...,33.000000,31.890000,30.028333,11381.131387,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43833,2012-12-31,10,32.00,NaN,43834,December,Monday,0,19.70,False,...,32.833333,31.917500,30.528333,11833.961679,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43834,2012-12-31,11,31.00,NaN,43835,December,Monday,0,20.70,False,...,32.445000,31.861667,30.847917,12172.316606,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43835,2012-12-31,12,30.33,NaN,43836,December,Monday,0,21.37,False,...,31.945000,32.166667,31.014583,12462.843978,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43836,2012-12-31,13,29.00,NaN,43837,December,Monday,0,22.70,False,...,31.278333,32.027500,31.000833,12611.475365,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43837,2012-12-31,14,28.33,NaN,43838,December,Monday,0,23.37,False,...,30.555000,31.749167,30.931250,12690.639599,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43838,2012-12-31,15,26.67,NaN,43839,December,Monday,0,25.03,False,...,29.555000,31.277500,30.792500,12767.548358,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43839,2012-12-31,16,26.00,NaN,43840,December,Monday,0,25.70,False,...,28.555000,30.694167,30.625833,12768.254562,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43840,2012-12-31,17,24.33,NaN,43841,December,Monday,0,27.37,False,...,27.443333,29.944167,30.445000,12768.628650,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43841,2012-12-31,18,24.00,NaN,43842,December,Monday,0,27.70,False,...,26.388333,29.166667,30.250417,12908.144161,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,12086.398418
43842,2012-12-31,19,23.33,NaN,43843,December,Monday,0,28.37,False,...,25.443333,28.360833,29.986250,13053.019161,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43843,2012-12-31,20,22.33,NaN,43844,December,Monday,0,29.37,False,...,24.443333,27.499167,29.638750,12967.938869,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43844,2012-12-31,21,20.67,NaN,43845,December,Monday,0,31.03,False,...,23.443333,26.499167,29.194583,12898.889599,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43845,2012-12-31,22,19.67,NaN,43846,December,Monday,0,32.03,False,...,22.388333,25.471667,28.694583,12796.773723,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43846,2012-12-31,23,19.33,NaN,43847,December,Monday,0,32.37,False,...,21.555000,24.499167,28.180417,12372.826642,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43847,2012-12-31,24,18.33,NaN,43848,December,Monday,0,33.37,False,...,20.610000,23.499167,27.832917,11547.177920,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845

In [352]:
new_data_join.loc[(new_data_join['Date']<'2012-01-01') & (new_data_join['Date']>='2011-01-01'),'Load']\
=data.loc[(data['Date']<'2012-01-01') & (data['Date']>='2011-01-01'),'Load']

In [353]:
train_2011=new_data_join[(new_data_join['Date']>='2011-01-01') & (new_data_join['Date']<'2012-01-01')]

In [354]:
sum(new_data_join[data['Load']!=new_data_join['Load']]['Load']==np.nan)

0

In [355]:
new_data_join.columns.values

array(['Date', 'Hour', 'Temperature', 'Load', 'trend', 'month', 'weekday',
       'holiday', 'TempDistance', 'Temp>51.7?', 'TemperatureLag1',
       'Temperature_Lag1_2', 'Temperature_Lag1_3', 'TempDistanceLag1',
       'TempDistance_Lag1_2', 'TempDistance_Lag1_0.5', 'TemperatureLag2',
       'Temperature_Lag2_2', 'Temperature_Lag2_3', 'TempDistanceLag2',
       'TempDistance_Lag2_2', 'TempDistance_Lag2_0.5', 'TemperatureLag3',
       'Temperature_Lag3_2', 'Temperature_Lag3_3', 'TempDistanceLag3',
       'TempDistance_Lag3_2', 'TempDistance_Lag3_0.5', 'TemperatureLag4',
       'Temperature_Lag4_2', 'Temperature_Lag4_3', 'TempDistanceLag4',
       'TempDistance_Lag4_2', 'TempDistance_Lag4_0.5', 'TemperatureLag5',
       'Temperature_Lag5_2', 'Temperature_Lag5_3', 'TempDistanceLag5',
       'TempDistance_Lag5_2', 'TempDistance_Lag5_0.5', 'TemperatureLag6',
       'Temperature_Lag6_2', 'Temperature_Lag6_3', 'TempDistanceLag6',
       'TempDistance_Lag6_2', 'TempDistance_Lag6_0.5', 'TemperatureLag12',
       'Temperature_Lag12_2', 'Temperature_Lag12_3', 'TempDistanceLag12',
       'TempDistance_Lag12_2', 'TempDistance_Lag12_0.5',
       'TemperatureLag24', 'Temperature_Lag24_2', 'Temperature_Lag24_3',
       'TempDistanceLag24', 'TempDistance_Lag24_2',
       'TempDistance_Lag24_0.5', 'TemperatureLag48',
       'Temperature_Lag48_2', 'Temperature_Lag48_3', 'TempDistanceLag48',
       'TempDistance_Lag48_2', 'TempDistance_Lag48_0.5', 'Temperature^2',
       'Temperature^3', 'Temperature^1/2', 'TempDistance^2',
       'TempDistance^3', 'TempDistance^1/2', 'day', 'month.week',
       'Time_of_day', 'Day_Night_Time', 'DayTime', 'NightTime', 'quarter',
       'temp_max_6', 'temp_max_12', 'temp_max_24', 'temp_min_6',
       'temp_min_12', 'temp_min_24', 'temp_std_6', 'temp_std_12',
       'temp_std_24', 'temp_mean_6', 'temp_mean_12', 'temp_mean_24',
       'Hour_Mean_Encoding', 'month_Mean_Encoding',
       'quarter_Mean_Encoding', 'weekday_Mean_Encoding',
       'month.week_Mean_Encoding', 'Time_of_day_Mean_Encoding',
       'Day_Night_Time_Mean_Encoding'], dtype=object)

In [356]:
new_data_join

,Date,Hour,Temperature,Load,trend,month,weekday,holiday,TempDistance,Temp>51.7?,...,temp_mean_6,temp_mean_12,temp_mean_24,Hour_Mean_Encoding,month_Mean_Encoding,quarter_Mean_Encoding,weekday_Mean_Encoding,month.week_Mean_Encoding,Time_of_day_Mean_Encoding,Day_Night_Time_Mean_Encoding
0,2008-01-01,1,25.00,10737.0,1,January,Tuesday,1,26.70,False,...,NaN,NaN,NaN,10684.714416,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
1,2008-01-01,2,24.00,10348.0,2,January,Tuesday,1,27.70,False,...,NaN,NaN,NaN,10058.352190,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
2,2008-01-01,3,23.00,9997.0,3,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9664.006387,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
3,2008-01-01,4,23.00,9760.0,4,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9418.136861,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
4,2008-01-01,5,23.00,9624.0,5,January,Tuesday,1,28.70,False,...,NaN,NaN,NaN,9325.227190,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
5,2008-01-01,6,22.33,9619.0,6,January,Tuesday,1,29.37,False,...,23.388333,NaN,NaN,9456.227190,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,11186.940845
6,2008-01-01,7,21.00,9794.0,7,January,Tuesday,1,30.70,False,...,22.721667,NaN,NaN,9929.916058,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
7,2008-01-01,8,21.00,10021.0,8,January,Tuesday,1,30.70,False,...,22.221667,NaN,NaN,10741.920620,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
8,2008-01-01,9,21.00,9984.0,9,January,Tuesday,1,30.70,False,...,21.888333,NaN,NaN,11381.131387,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
9,2008-01-01,10,21.33,10067.0,10,January,Tuesday,1,30.37,False,...,21.610000,NaN,NaN,11833.961679,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
10,2008-01-01,11,20.67,10367.0,11,January,Tuesday,1,31.03,False,...,21.221667,NaN,NaN,12172.316606,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
11,2008-01-01,12,20.33,10625.0,12,January,Tuesday,1,31.37,False,...,20.888333,22.138333,NaN,12462.843978,12433.890681,11781.057349,12146.796975,11463.402612,11139.759645,12086.398418
12,2008-01-01,13,20.67,10795.0,13,January,Tuesday,1,31.03,False,...,20.833333,21.777500,NaN,12611.475365,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
13,2008-01-01,14,20.00,10891.0,14,January,Tuesday,1,31.70,False,...,20.666667,21.444167,NaN,12690.639599,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
14,2008-01-01,15,18.33,10935.0,15,January,Tuesday,1,33.37,False,...,20.221667,21.055000,NaN,12767.548358,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
15,2008-01-01,16,16.67,11029.0,16,January,Tuesday,1,35.03,False,...,19.445000,20.527500,NaN,12768.254562,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
16,2008-01-01,17,15.33,11241.0,17,January,Tuesday,1,36.37,False,...,18.555000,19.888333,NaN,12768.628650,12433.890681,11781.057349,12146.796975,11463.402612,12721.309307,12086.398418
17,2008-01-01,18,13.33,12166.0,18,January,Tuesday,1,38.37,False,...,17.388333,19.138333,NaN,12908.144161,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,12086.398418
18,2008-01-01,19,12.33,13129.0,19,January,Tuesday,1,39.37,False,...,15.998333,18.415833,NaN,13053.019161,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
19,2008-01-01,20,10.33,13165.0,20,January,Tuesday,1,41.37,False,...,14.386667,17.526667,NaN,12967.938869,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
20,2008-01-01,21,8.33,13107.0,21,January,Tuesday,1,43.37,False,...,12.720000,16.470833,NaN,12898.889599,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
21,2008-01-01,22,7.00,12996.0,22,January,Tuesday,1,44.70,False,...,11.108333,15.276667,NaN,12796.773723,12433.890681,11781.057349,12146.796975,11463.402612,12924.953102,11186.940845
22,2008-01-01,23,6.00,12665.0,23,January,Tuesday,1,45.70,False,...,9.553333,14.054167,NaN,12372.826642,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
23,2008-01-01,24,4.00,12049.0,24,January,Tuesday,1,47.70,False,...,7.998333,12.693333,17.415833,11547.177920,12433.890681,11781.057349,12146.796975,11463.402612,10438.634515,11186.940845
24,2008-01-02,1,3.00,11422.0,25,January,Wednesday,0,48.70,False,...,6.443333,11.220833,16.499167,10684.714416,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
25,2008-01-02,2,2.67,11057.0,26,January,Wednesday,0,49.03,False,...,5.166667,9.776667,15.610417,10058.352190,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
26,2008-01-02,3,2.00,10816.0,27,January,Wednesday,0,49.70,False,...,4.111667,8.415833,14.735417,9664.006387,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
27,2008-01-02,4,2.33,10729.0,28,January,Wednesday,0,49.37,False,...,3.333333,7.220833,13.874167,9418.136861,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
28,2008-01-02,5,3.00,10788.0,29,January,Wednesday,0,48.70,False,...,2.833333,6.193333,13.040833,9325.227190,12433.890681,11781.057349,12148.032378,11463.402612,10438.634515,11186.940845
29,2008-01-02,6,2.33,11077.0,30,January,Wednesday,0,49.37,False,...,2.555000,5.276667,12.207500,9456.227190,12433.890681,11781.057349,12148.032378,11463.402612,11139.759645,11186.940845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43818,2012-12-30,19,29.67,NaN,43819,December,Sunday,0,22.03,False,...,29.501667,25.360833,21.152500,13053.019161,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43819,2012-12-30,20,30.67,NaN,43820,December,Sunday,0,21.03,False,...,29.613333,26.889167,21.500000,12967.938869,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43820,2012-12-30,21,31.33,NaN,43821,December,Sunday,0,20.37,False,...,29.835000,28.166667,21.902500,12898.889599,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43821,2012-12-30,22,31.67,NaN,43822,December,Sunday,0,20.03,False,...,30.113333,29.139167,22.360833,12796.773723,12219.815412,11089.940217,10381.732639,11583.101799,12924.953102,11186.940845
43822,2012-12-30,23,31.67,NaN,43823,December,Sunday,0,20.03,False,...,30.613333,29.834167,22.888750,12372.826642,12219.815412,11089.940217,10381.732639,11583.101799,10438.634515,11186.940845
43823,2012-12-30,24,26.67,NaN,43824,December,Sunday,0,25.03,False,...,30.280000,29.862500,23.097083,11547.177920,12219.815412,11089.940217,10381.732639,11583.101799,10438.634515,11186.940845
43824,2012-12-31,1,30.67,NaN,43825,December,Monday,0,21.03,False,...,30.446667,29.974167,23.694583,10684.714416,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43825,2012-12-31,2,31.67,NaN,43826,December,Monday,0,20.03,False,...,30.613333,30.113333,24.375417,10058.352190,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43826,2012-12-31,3,32.33,NaN,43827,December,Monday,0,19.37,False,...,30.780000,30.307500,25.125417,9664.006387,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43827,2012-12-31,4,33.00,NaN,43828,December,Monday,0,18.70,False,...,31.001667,30.557500,25.930833,9418.136861,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43828,2012-12-31,5,33.33,NaN,43829,December,Monday,0,18.37,False,...,31.278333,30.945833,26.764167,9325.227190,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43829,2012-12-31,6,33.33,NaN,43830,December,Monday,0,18.37,False,...,32.388333,31.334167,27.611250,9456.227190,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,11186.940845
43830,2012-12-31,7,33.00,NaN,43831,December,Monday,0,18.70,False,...,32.776667,31.611667,28.486250,9929.916058,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43831,2012-12-31,8,32.67,NaN,43832,December,Monday,0,19.03,False,...,32.943333,31.778333,29.333750,10741.920620,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43832,2012-12-31,9,32.67,NaN,43833,December,Monday,0,19.03,False,...,33.000000,31.890000,30.028333,11381.131387,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43833,2012-12-31,10,32.00,NaN,43834,December,Monday,0,19.70,False,...,32.833333,31.917500,30.528333,11833.961679,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43834,2012-12-31,11,31.00,NaN,43835,December,Monday,0,20.70,False,...,32.445000,31.861667,30.847917,12172.316606,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43835,2012-12-31,12,30.33,NaN,43836,December,Monday,0,21.37,False,...,31.945000,32.166667,31.014583,12462.843978,12219.815412,11089.940217,11923.546207,11583.101799,11139.759645,12086.398418
43836,2012-12-31,13,29.00,NaN,43837,December,Monday,0,22.70,False,...,31.278333,32.027500,31.000833,12611.475365,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43837,2012-12-31,14,28.33,NaN,43838,December,Monday,0,23.37,False,...,30.555000,31.749167,30.931250,12690.639599,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43838,2012-12-31,15,26.67,NaN,43839,December,Monday,0,25.03,False,...,29.555000,31.277500,30.792500,12767.548358,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43839,2012-12-31,16,26.00,NaN,43840,December,Monday,0,25.70,False,...,28.555000,30.694167,30.625833,12768.254562,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43840,2012-12-31,17,24.33,NaN,43841,December,Monday,0,27.37,False,...,27.443333,29.944167,30.445000,12768.628650,12219.815412,11089.940217,11923.546207,11583.101799,12721.309307,12086.398418
43841,2012-12-31,18,24.00,NaN,43842,December,Monday,0,27.70,False,...,26.388333,29.166667,30.250417,12908.144161,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,12086.398418
43842,2012-12-31,19,23.33,NaN,43843,December,Monday,0,28.37,False,...,25.443333,28.360833,29.986250,13053.019161,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43843,2012-12-31,20,22.33,NaN,43844,December,Monday,0,29.37,False,...,24.443333,27.499167,29.638750,12967.938869,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43844,2012-12-31,21,20.67,NaN,43845,December,Monday,0,31.03,False,...,23.443333,26.499167,29.194583,12898.889599,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43845,2012-12-31,22,19.67,NaN,43846,December,Monday,0,32.03,False,...,22.388333,25.471667,28.694583,12796.773723,12219.815412,11089.940217,11923.546207,11583.101799,12924.953102,11186.940845
43846,2012-12-31,23,19.33,NaN,43847,December,Monday,0,32.37,False,...,21.555000,24.499167,28.180417,12372.826642,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845
43847,2012-12-31,24,18.33,NaN,43848,December,Monday,0,33.37,False,...,20.610000,23.499167,27.832917,11547.177920,12219.815412,11089.940217,11923.546207,11583.101799,10438.634515,11186.940845

In [357]:
new_data_join.to_csv('02_new_data_join_2010.csv')

In [358]:
new_data_join.columns.values

array(['Date', 'Hour', 'Temperature', 'Load', 'trend', 'month', 'weekday',
       'holiday', 'TempDistance', 'Temp>51.7?', 'TemperatureLag1',
       'Temperature_Lag1_2', 'Temperature_Lag1_3', 'TempDistanceLag1',
       'TempDistance_Lag1_2', 'TempDistance_Lag1_0.5', 'TemperatureLag2',
       'Temperature_Lag2_2', 'Temperature_Lag2_3', 'TempDistanceLag2',
       'TempDistance_Lag2_2', 'TempDistance_Lag2_0.5', 'TemperatureLag3',
       'Temperature_Lag3_2', 'Temperature_Lag3_3', 'TempDistanceLag3',
       'TempDistance_Lag3_2', 'TempDistance_Lag3_0.5', 'TemperatureLag4',
       'Temperature_Lag4_2', 'Temperature_Lag4_3', 'TempDistanceLag4',
       'TempDistance_Lag4_2', 'TempDistance_Lag4_0.5', 'TemperatureLag5',
       'Temperature_Lag5_2', 'Temperature_Lag5_3', 'TempDistanceLag5',
       'TempDistance_Lag5_2', 'TempDistance_Lag5_0.5', 'TemperatureLag6',
       'Temperature_Lag6_2', 'Temperature_Lag6_3', 'TempDistanceLag6',
       'TempDistance_Lag6_2', 'TempDistance_Lag6_0.5', 'TemperatureLag12',
       'Temperature_Lag12_2', 'Temperature_Lag12_3', 'TempDistanceLag12',
       'TempDistance_Lag12_2', 'TempDistance_Lag12_0.5',
       'TemperatureLag24', 'Temperature_Lag24_2', 'Temperature_Lag24_3',
       'TempDistanceLag24', 'TempDistance_Lag24_2',
       'TempDistance_Lag24_0.5', 'TemperatureLag48',
       'Temperature_Lag48_2', 'Temperature_Lag48_3', 'TempDistanceLag48',
       'TempDistance_Lag48_2', 'TempDistance_Lag48_0.5', 'Temperature^2',
       'Temperature^3', 'Temperature^1/2', 'TempDistance^2',
       'TempDistance^3', 'TempDistance^1/2', 'day', 'month.week',
       'Time_of_day', 'Day_Night_Time', 'DayTime', 'NightTime', 'quarter',
       'temp_max_6', 'temp_max_12', 'temp_max_24', 'temp_min_6',
       'temp_min_12', 'temp_min_24', 'temp_std_6', 'temp_std_12',
       'temp_std_24', 'temp_mean_6', 'temp_mean_12', 'temp_mean_24',
       'Hour_Mean_Encoding', 'month_Mean_Encoding',
       'quarter_Mean_Encoding', 'weekday_Mean_Encoding',
       'month.week_Mean_Encoding', 'Time_of_day_Mean_Encoding',
       'Day_Night_Time_Mean_Encoding'], dtype=object)

In [359]:
new_data_join.shape

(43848, 96)

In [360]:
dd=pd.DataFrame(new_data_join.isnull().sum())

In [361]:
dd[dd.values>48]

         0
Load  8784