In [17]:
import pandas as p

data = pd.read_csv('03_2010_v3_variable_creation.csv')

In [18]:
data['trend']=data['X']

In [19]:
data = data.drop(['Unnamed: 0','X'],axis=1)

In [21]:
import numpy as np
new_data=data.copy()
new_data.loc[(new_data['Date']<'2012-01-01') & (new_data['Date']>='2011-01-01'),'Load']=np.nan
new_data[(new_data['Date']<'2012-01-01') & (new_data['Date']>='2011-01-01')]['Load']

26304   NaN
26305   NaN
26306   NaN
26307   NaN
26308   NaN
26309   NaN
26310   NaN
26311   NaN
26312   NaN
26313   NaN
26314   NaN
26315   NaN
26316   NaN
26317   NaN
26318   NaN
26319   NaN
26320   NaN
26321   NaN
26322   NaN
26323   NaN
26324   NaN
26325   NaN
26326   NaN
26327   NaN
26328   NaN
26329   NaN
26330   NaN
26331   NaN
26332   NaN
26333   NaN
         ..
35034   NaN
35035   NaN
35036   NaN
35037   NaN
35038   NaN
35039   NaN
35040   NaN
35041   NaN
35042   NaN
35043   NaN
35044   NaN
35045   NaN
35046   NaN
35047   NaN
35048   NaN
35049   NaN
35050   NaN
35051   NaN
35052   NaN
35053   NaN
35054   NaN
35055   NaN
35056   NaN
35057   NaN
35058   NaN
35059   NaN
35060   NaN
35061   NaN
35062   NaN
35063   NaN
Name: Load, Length: 8760, dtype: float64

In [22]:
cat_variable=['Time_of_day','Day_Night_Time']
new_data_join=new_data
import category_encoders as ce
for col in cat_variable:
    X = new_data_join[col]
    y = new_data_join['Load']

    te = ce.target_encoder.TargetEncoder(cols=col)
    te.fit(X,y)
    X_TE = te.transform(X,y)
    new_data_join=pd.merge(new_data_join, X_TE, left_on=new_data_join.index, right_on=X_TE.index, how='inner',suffixes=('', '_Mean_Encoding'))
    new_data_join=new_data_join.drop('key_0',axis=1)

In [23]:
new_data_join.loc[(new_data_join['Date']<'2012-01-01') & (new_data_join['Date']>='2011-01-01'),'Load']\
=data.loc[(data['Date']<'2012-01-01') & (data['Date']>='2011-01-01'),'Load']

In [24]:
new_data_join

,Date,Hour,Temperature,Load,month,weekday,Distance,TemperatureLag1,TemperatureLag2,TemperatureLag24,...,holiday.temp_mean_24.SR,holiday.temp_mean_24.SQUARE,holiday.temp_mean_24.CUBE,Time_of_day,Day_Night_Time,DayTime,NightTime,trend,Time_of_day_Mean_Encoding,Day_Night_Time_Mean_Encoding
0,2008-01-01,1,25.00,10737.0,January,Tuesday,27.00,NaN,NaN,NaN,...,NaN,NaN,NaN,Midnight,Night Time,0,1,1,10438.634515,11186.940845
1,2008-01-01,2,24.00,10348.0,January,Tuesday,28.00,25.00,NaN,NaN,...,NaN,NaN,NaN,Midnight,Night Time,0,1,2,10438.634515,11186.940845
2,2008-01-01,3,23.00,9997.0,January,Tuesday,29.00,24.00,25.00,NaN,...,NaN,NaN,NaN,Midnight,Night Time,0,1,3,10438.634515,11186.940845
3,2008-01-01,4,23.00,9760.0,January,Tuesday,29.00,23.00,24.00,NaN,...,NaN,NaN,NaN,Midnight,Night Time,0,1,4,10438.634515,11186.940845
4,2008-01-01,5,23.00,9624.0,January,Tuesday,29.00,23.00,23.00,NaN,...,NaN,NaN,NaN,Midnight,Night Time,0,1,5,10438.634515,11186.940845
5,2008-01-01,6,22.33,9619.0,January,Tuesday,29.67,23.00,23.00,NaN,...,NaN,NaN,NaN,Morning,Night Time,0,1,6,11139.759645,11186.940845
6,2008-01-01,7,21.00,9794.0,January,Tuesday,31.00,22.33,23.00,NaN,...,NaN,NaN,NaN,Morning,Day Time,1,0,7,11139.759645,12086.398418
7,2008-01-01,8,21.00,10021.0,January,Tuesday,31.00,21.00,22.33,NaN,...,NaN,NaN,NaN,Morning,Day Time,1,0,8,11139.759645,12086.398418
8,2008-01-01,9,21.00,9984.0,January,Tuesday,31.00,21.00,21.00,NaN,...,NaN,NaN,NaN,Morning,Day Time,1,0,9,11139.759645,12086.398418
9,2008-01-01,10,21.33,10067.0,January,Tuesday,30.67,21.00,21.00,NaN,...,NaN,NaN,NaN,Morning,Day Time,1,0,10,11139.759645,12086.398418
10,2008-01-01,11,20.67,10367.0,January,Tuesday,31.33,21.33,21.00,NaN,...,NaN,NaN,NaN,Morning,Day Time,1,0,11,11139.759645,12086.398418
11,2008-01-01,12,20.33,10625.0,January,Tuesday,31.67,20.67,21.33,NaN,...,NaN,NaN,NaN,Morning,Day Time,1,0,12,11139.759645,12086.398418
12,2008-01-01,13,20.67,10795.0,January,Tuesday,31.33,20.33,20.67,NaN,...,NaN,NaN,NaN,Afternoon,Day Time,1,0,13,12721.309307,12086.398418
13,2008-01-01,14,20.00,10891.0,January,Tuesday,32.00,20.67,20.33,NaN,...,NaN,NaN,NaN,Afternoon,Day Time,1,0,14,12721.309307,12086.398418
14,2008-01-01,15,18.33,10935.0,January,Tuesday,33.67,20.00,20.67,NaN,...,NaN,NaN,NaN,Afternoon,Day Time,1,0,15,12721.309307,12086.398418
15,2008-01-01,16,16.67,11029.0,January,Tuesday,35.33,18.33,20.00,NaN,...,NaN,NaN,NaN,Afternoon,Day Time,1,0,16,12721.309307,12086.398418
16,2008-01-01,17,15.33,11241.0,January,Tuesday,36.67,16.67,18.33,NaN,...,NaN,NaN,NaN,Afternoon,Day Time,1,0,17,12721.309307,12086.398418
17,2008-01-01,18,13.33,12166.0,January,Tuesday,38.67,15.33,16.67,NaN,...,NaN,NaN,NaN,Evening,Day Time,1,0,18,12924.953102,12086.398418
18,2008-01-01,19,12.33,13129.0,January,Tuesday,39.67,13.33,15.33,NaN,...,NaN,NaN,NaN,Evening,Night Time,0,1,19,12924.953102,11186.940845
19,2008-01-01,20,10.33,13165.0,January,Tuesday,41.67,12.33,13.33,NaN,...,NaN,NaN,NaN,Evening,Night Time,0,1,20,12924.953102,11186.940845
20,2008-01-01,21,8.33,13107.0,January,Tuesday,43.67,10.33,12.33,NaN,...,NaN,NaN,NaN,Evening,Night Time,0,1,21,12924.953102,11186.940845
21,2008-01-01,22,7.00,12996.0,January,Tuesday,45.00,8.33,10.33,NaN,...,NaN,NaN,NaN,Evening,Night Time,0,1,22,12924.953102,11186.940845
22,2008-01-01,23,6.00,12665.0,January,Tuesday,46.00,7.00,8.33,NaN,...,NaN,NaN,NaN,Midnight,Night Time,0,1,23,10438.634515,11186.940845
23,2008-01-01,24,4.00,12049.0,January,Tuesday,48.00,6.00,7.00,NaN,...,4.173228,303.311251,5282.41819,Midnight,Night Time,0,1,24,10438.634515,11186.940845
24,2008-01-02,1,3.00,11422.0,January,Wednesday,49.00,4.00,6.00,25.00,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,25,10438.634515,11186.940845
25,2008-01-02,2,2.67,11057.0,January,Wednesday,49.33,3.00,4.00,24.00,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,26,10438.634515,11186.940845
26,2008-01-02,3,2.00,10816.0,January,Wednesday,50.00,2.67,3.00,23.00,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,27,10438.634515,11186.940845
27,2008-01-02,4,2.33,10729.0,January,Wednesday,49.67,2.00,2.67,23.00,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,28,10438.634515,11186.940845
28,2008-01-02,5,3.00,10788.0,January,Wednesday,49.00,2.33,2.00,23.00,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,29,10438.634515,11186.940845
29,2008-01-02,6,2.33,11077.0,January,Wednesday,49.67,3.00,2.33,22.33,...,0.000000,0.000000,0.00000,Morning,Night Time,0,1,30,11139.759645,11186.940845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43818,2012-12-30,19,29.67,NaN,December,Sunday,22.33,28.67,28.67,23.33,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43819,12924.953102,11186.940845
43819,2012-12-30,20,30.67,NaN,December,Sunday,21.33,29.67,28.67,22.33,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43820,12924.953102,11186.940845
43820,2012-12-30,21,31.33,NaN,December,Sunday,20.67,30.67,29.67,21.67,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43821,12924.953102,11186.940845
43821,2012-12-30,22,31.67,NaN,December,Sunday,20.33,31.33,30.67,20.67,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43822,12924.953102,11186.940845
43822,2012-12-30,23,31.67,NaN,December,Sunday,20.33,31.67,31.33,19.00,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43823,10438.634515,11186.940845
43823,2012-12-30,24,26.67,NaN,December,Sunday,25.33,31.67,31.67,21.67,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43824,10438.634515,11186.940845
43824,2012-12-31,1,30.67,NaN,December,Monday,21.33,26.67,31.67,16.33,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43825,10438.634515,11186.940845
43825,2012-12-31,2,31.67,NaN,December,Monday,20.33,30.67,26.67,15.33,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43826,10438.634515,11186.940845
43826,2012-12-31,3,32.33,NaN,December,Monday,19.67,31.67,30.67,14.33,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43827,10438.634515,11186.940845
43827,2012-12-31,4,33.00,NaN,December,Monday,19.00,32.33,31.67,13.67,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43828,10438.634515,11186.940845
43828,2012-12-31,5,33.33,NaN,December,Monday,18.67,33.00,32.33,13.33,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43829,10438.634515,11186.940845
43829,2012-12-31,6,33.33,NaN,December,Monday,18.67,33.33,33.00,13.00,...,0.000000,0.000000,0.00000,Morning,Night Time,0,1,43830,11139.759645,11186.940845
43830,2012-12-31,7,33.00,NaN,December,Monday,19.00,33.33,33.33,12.00,...,0.000000,0.000000,0.00000,Morning,Day Time,1,0,43831,11139.759645,12086.398418
43831,2012-12-31,8,32.67,NaN,December,Monday,19.33,33.00,33.33,12.33,...,0.000000,0.000000,0.00000,Morning,Day Time,1,0,43832,11139.759645,12086.398418
43832,2012-12-31,9,32.67,NaN,December,Monday,19.33,32.67,33.00,16.00,...,0.000000,0.000000,0.00000,Morning,Day Time,1,0,43833,11139.759645,12086.398418
43833,2012-12-31,10,32.00,NaN,December,Monday,20.00,32.67,32.67,20.00,...,0.000000,0.000000,0.00000,Morning,Day Time,1,0,43834,11139.759645,12086.398418
43834,2012-12-31,11,31.00,NaN,December,Monday,21.00,32.00,32.67,23.33,...,0.000000,0.000000,0.00000,Morning,Day Time,1,0,43835,11139.759645,12086.398418
43835,2012-12-31,12,30.33,NaN,December,Monday,21.67,31.00,32.00,26.33,...,0.000000,0.000000,0.00000,Morning,Day Time,1,0,43836,11139.759645,12086.398418
43836,2012-12-31,13,29.00,NaN,December,Monday,23.00,30.33,31.00,29.33,...,0.000000,0.000000,0.00000,Afternoon,Day Time,1,0,43837,12721.309307,12086.398418
43837,2012-12-31,14,28.33,NaN,December,Monday,23.67,29.00,30.33,30.00,...,0.000000,0.000000,0.00000,Afternoon,Day Time,1,0,43838,12721.309307,12086.398418
43838,2012-12-31,15,26.67,NaN,December,Monday,25.33,28.33,29.00,30.00,...,0.000000,0.000000,0.00000,Afternoon,Day Time,1,0,43839,12721.309307,12086.398418
43839,2012-12-31,16,26.00,NaN,December,Monday,26.00,26.67,28.33,30.00,...,0.000000,0.000000,0.00000,Afternoon,Day Time,1,0,43840,12721.309307,12086.398418
43840,2012-12-31,17,24.33,NaN,December,Monday,27.67,26.00,26.67,28.67,...,0.000000,0.000000,0.00000,Afternoon,Day Time,1,0,43841,12721.309307,12086.398418
43841,2012-12-31,18,24.00,NaN,December,Monday,28.00,24.33,26.00,28.67,...,0.000000,0.000000,0.00000,Evening,Day Time,1,0,43842,12924.953102,12086.398418
43842,2012-12-31,19,23.33,NaN,December,Monday,28.67,24.00,24.33,29.67,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43843,12924.953102,11186.940845
43843,2012-12-31,20,22.33,NaN,December,Monday,29.67,23.33,24.00,30.67,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43844,12924.953102,11186.940845
43844,2012-12-31,21,20.67,NaN,December,Monday,31.33,22.33,23.33,31.33,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43845,12924.953102,11186.940845
43845,2012-12-31,22,19.67,NaN,December,Monday,32.33,20.67,22.33,31.67,...,0.000000,0.000000,0.00000,Evening,Night Time,0,1,43846,12924.953102,11186.940845
43846,2012-12-31,23,19.33,NaN,December,Monday,32.67,19.67,20.67,31.67,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43847,10438.634515,11186.940845
43847,2012-12-31,24,18.33,NaN,December,Monday,33.67,19.33,19.67,26.67,...,0.000000,0.000000,0.00000,Midnight,Night Time,0,1,43848,10438.634515,11186.940845

In [25]:
new_data_join.to_csv('03_2010_v4_variable_creation.csv')

In [26]:
data2 = pd.read_csv('03_2011_v3_variable_creation.csv')
data2['trend']=data2['X']
data2 = data2.drop(['Unnamed: 0','X','Predicted.Load'],axis=1)
data2['Load']=data['Load']

In [27]:
cat_variable=['Time_of_day','Day_Night_Time']

import category_encoders as ce
for col in cat_variable:
    X = data2[col]
    y = data2['Load']

    te = ce.target_encoder.TargetEncoder(cols=col)
    te.fit(X,y)
    X_TE = te.transform(X,y)
    data2=pd.merge(data2, X_TE, left_on=data2.index, right_on=X_TE.index, how='inner',suffixes=('', '_Mean_Encoding'))
    data2=data2.drop('key_0',axis=1)

In [28]:
data2

,Date,Hour,Temperature,month,weekday,Distance,TemperatureLag1,TemperatureLag2,TemperatureLag24,TemperatureLag48,...,holiday.temp_mean_24.SQUARE,holiday.temp_mean_24.CUBE,Time_of_day,Day_Night_Time,DayTime,NightTime,trend,Load,Time_of_day_Mean_Encoding,Day_Night_Time_Mean_Encoding
0,2008-01-01,1,25.00,January,Tuesday,27.00,NaN,NaN,NaN,NaN,...,NaN,NaN,Midnight,Night Time,0,1,1,10737.0,10443.747922,11192.520591
1,2008-01-01,2,24.00,January,Tuesday,28.00,25.00,NaN,NaN,NaN,...,NaN,NaN,Midnight,Night Time,0,1,2,10348.0,10443.747922,11192.520591
2,2008-01-01,3,23.00,January,Tuesday,29.00,24.00,25.00,NaN,NaN,...,NaN,NaN,Midnight,Night Time,0,1,3,9997.0,10443.747922,11192.520591
3,2008-01-01,4,23.00,January,Tuesday,29.00,23.00,24.00,NaN,NaN,...,NaN,NaN,Midnight,Night Time,0,1,4,9760.0,10443.747922,11192.520591
4,2008-01-01,5,23.00,January,Tuesday,29.00,23.00,23.00,NaN,NaN,...,NaN,NaN,Midnight,Night Time,0,1,5,9624.0,10443.747922,11192.520591
5,2008-01-01,6,22.33,January,Tuesday,29.67,23.00,23.00,NaN,NaN,...,NaN,NaN,Morning,Night Time,0,1,6,9619.0,11137.203285,11192.520591
6,2008-01-01,7,21.00,January,Tuesday,31.00,22.33,23.00,NaN,NaN,...,NaN,NaN,Morning,Day Time,1,0,7,9794.0,11137.203285,12086.374458
7,2008-01-01,8,21.00,January,Tuesday,31.00,21.00,22.33,NaN,NaN,...,NaN,NaN,Morning,Day Time,1,0,8,10021.0,11137.203285,12086.374458
8,2008-01-01,9,21.00,January,Tuesday,31.00,21.00,21.00,NaN,NaN,...,NaN,NaN,Morning,Day Time,1,0,9,9984.0,11137.203285,12086.374458
9,2008-01-01,10,21.33,January,Tuesday,30.67,21.00,21.00,NaN,NaN,...,NaN,NaN,Morning,Day Time,1,0,10,10067.0,11137.203285,12086.374458
10,2008-01-01,11,20.67,January,Tuesday,31.33,21.33,21.00,NaN,NaN,...,NaN,NaN,Morning,Day Time,1,0,11,10367.0,11137.203285,12086.374458
11,2008-01-01,12,20.33,January,Tuesday,31.67,20.67,21.33,NaN,NaN,...,NaN,NaN,Morning,Day Time,1,0,12,10625.0,11137.203285,12086.374458
12,2008-01-01,13,20.67,January,Tuesday,31.33,20.33,20.67,NaN,NaN,...,NaN,NaN,Afternoon,Day Time,1,0,13,10795.0,12723.067077,12086.374458
13,2008-01-01,14,20.00,January,Tuesday,32.00,20.67,20.33,NaN,NaN,...,NaN,NaN,Afternoon,Day Time,1,0,14,10891.0,12723.067077,12086.374458
14,2008-01-01,15,18.33,January,Tuesday,33.67,20.00,20.67,NaN,NaN,...,NaN,NaN,Afternoon,Day Time,1,0,15,10935.0,12723.067077,12086.374458
15,2008-01-01,16,16.67,January,Tuesday,35.33,18.33,20.00,NaN,NaN,...,NaN,NaN,Afternoon,Day Time,1,0,16,11029.0,12723.067077,12086.374458
16,2008-01-01,17,15.33,January,Tuesday,36.67,16.67,18.33,NaN,NaN,...,NaN,NaN,Afternoon,Day Time,1,0,17,11241.0,12723.067077,12086.374458
17,2008-01-01,18,13.33,January,Tuesday,38.67,15.33,16.67,NaN,NaN,...,NaN,NaN,Evening,Day Time,1,0,18,12166.0,12932.949350,12086.374458
18,2008-01-01,19,12.33,January,Tuesday,39.67,13.33,15.33,NaN,NaN,...,NaN,NaN,Evening,Night Time,0,1,19,13129.0,12932.949350,11192.520591
19,2008-01-01,20,10.33,January,Tuesday,41.67,12.33,13.33,NaN,NaN,...,NaN,NaN,Evening,Night Time,0,1,20,13165.0,12932.949350,11192.520591
20,2008-01-01,21,8.33,January,Tuesday,43.67,10.33,12.33,NaN,NaN,...,NaN,NaN,Evening,Night Time,0,1,21,13107.0,12932.949350,11192.520591
21,2008-01-01,22,7.00,January,Tuesday,45.00,8.33,10.33,NaN,NaN,...,NaN,NaN,Evening,Night Time,0,1,22,12996.0,12932.949350,11192.520591
22,2008-01-01,23,6.00,January,Tuesday,46.00,7.00,8.33,NaN,NaN,...,NaN,NaN,Midnight,Night Time,0,1,23,12665.0,10443.747922,11192.520591
23,2008-01-01,24,4.00,January,Tuesday,48.00,6.00,7.00,NaN,NaN,...,303.311251,5282.41819,Midnight,Night Time,0,1,24,12049.0,10443.747922,11192.520591
24,2008-01-02,1,3.00,January,Wednesday,49.00,4.00,6.00,25.00,NaN,...,0.000000,0.00000,Midnight,Night Time,0,1,25,11422.0,10443.747922,11192.520591
25,2008-01-02,2,2.67,January,Wednesday,49.33,3.00,4.00,24.00,NaN,...,0.000000,0.00000,Midnight,Night Time,0,1,26,11057.0,10443.747922,11192.520591
26,2008-01-02,3,2.00,January,Wednesday,50.00,2.67,3.00,23.00,NaN,...,0.000000,0.00000,Midnight,Night Time,0,1,27,10816.0,10443.747922,11192.520591
27,2008-01-02,4,2.33,January,Wednesday,49.67,2.00,2.67,23.00,NaN,...,0.000000,0.00000,Midnight,Night Time,0,1,28,10729.0,10443.747922,11192.520591
28,2008-01-02,5,3.00,January,Wednesday,49.00,2.33,2.00,23.00,NaN,...,0.000000,0.00000,Midnight,Night Time,0,1,29,10788.0,10443.747922,11192.520591
29,2008-01-02,6,2.33,January,Wednesday,49.67,3.00,2.33,22.33,NaN,...,0.000000,0.00000,Morning,Night Time,0,1,30,11077.0,11137.203285,11192.520591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43818,2012-12-30,19,29.67,December,Sunday,22.33,28.67,28.67,23.33,31.00,...,0.000000,0.00000,Evening,Night Time,0,1,43819,NaN,12932.949350,11192.520591
43819,2012-12-30,20,30.67,December,Sunday,21.33,29.67,28.67,22.33,30.33,...,0.000000,0.00000,Evening,Night Time,0,1,43820,NaN,12932.949350,11192.520591
43820,2012-12-30,21,31.33,December,Sunday,20.67,30.67,29.67,21.67,31.00,...,0.000000,0.00000,Evening,Night Time,0,1,43821,NaN,12932.949350,11192.520591
43821,2012-12-30,22,31.67,December,Sunday,20.33,31.33,30.67,20.67,30.67,...,0.000000,0.00000,Evening,Night Time,0,1,43822,NaN,12932.949350,11192.520591
43822,2012-12-30,23,31.67,December,Sunday,20.33,31.67,31.33,19.00,30.00,...,0.000000,0.00000,Midnight,Night Time,0,1,43823,NaN,10443.747922,11192.520591
43823,2012-12-30,24,26.67,December,Sunday,25.33,31.67,31.67,21.67,30.33,...,0.000000,0.00000,Midnight,Night Time,0,1,43824,NaN,10443.747922,11192.520591
43824,2012-12-31,1,30.67,December,Monday,21.33,26.67,31.67,16.33,30.33,...,0.000000,0.00000,Midnight,Night Time,0,1,43825,NaN,10443.747922,11192.520591
43825,2012-12-31,2,31.67,December,Monday,20.33,30.67,26.67,15.33,30.00,...,0.000000,0.00000,Midnight,Night Time,0,1,43826,NaN,10443.747922,11192.520591
43826,2012-12-31,3,32.33,December,Monday,19.67,31.67,30.67,14.33,29.67,...,0.000000,0.00000,Midnight,Night Time,0,1,43827,NaN,10443.747922,11192.520591
43827,2012-12-31,4,33.00,December,Monday,19.00,32.33,31.67,13.67,29.67,...,0.000000,0.00000,Midnight,Night Time,0,1,43828,NaN,10443.747922,11192.520591
43828,2012-12-31,5,33.33,December,Monday,18.67,33.00,32.33,13.33,29.00,...,0.000000,0.00000,Midnight,Night Time,0,1,43829,NaN,10443.747922,11192.520591
43829,2012-12-31,6,33.33,December,Monday,18.67,33.33,33.00,13.00,28.33,...,0.000000,0.00000,Morning,Night Time,0,1,43830,NaN,11137.203285,11192.520591
43830,2012-12-31,7,33.00,December,Monday,19.00,33.33,33.33,12.00,27.33,...,0.000000,0.00000,Morning,Day Time,1,0,43831,NaN,11137.203285,12086.374458
43831,2012-12-31,8,32.67,December,Monday,19.33,33.00,33.33,12.33,25.67,...,0.000000,0.00000,Morning,Day Time,1,0,43832,NaN,11137.203285,12086.374458
43832,2012-12-31,9,32.67,December,Monday,19.33,32.67,33.00,16.00,25.67,...,0.000000,0.00000,Morning,Day Time,1,0,43833,NaN,11137.203285,12086.374458
43833,2012-12-31,10,32.00,December,Monday,20.00,32.67,32.67,20.00,26.00,...,0.000000,0.00000,Morning,Day Time,1,0,43834,NaN,11137.203285,12086.374458
43834,2012-12-31,11,31.00,December,Monday,21.00,32.00,32.67,23.33,26.33,...,0.000000,0.00000,Morning,Day Time,1,0,43835,NaN,11137.203285,12086.374458
43835,2012-12-31,12,30.33,December,Monday,21.67,31.00,32.00,26.33,26.67,...,0.000000,0.00000,Morning,Day Time,1,0,43836,NaN,11137.203285,12086.374458
43836,2012-12-31,13,29.00,December,Monday,23.00,30.33,31.00,29.33,27.00,...,0.000000,0.00000,Afternoon,Day Time,1,0,43837,NaN,12723.067077,12086.374458
43837,2012-12-31,14,28.33,December,Monday,23.67,29.00,30.33,30.00,26.67,...,0.000000,0.00000,Afternoon,Day Time,1,0,43838,NaN,12723.067077,12086.374458
43838,2012-12-31,15,26.67,December,Monday,25.33,28.33,29.00,30.00,26.00,...,0.000000,0.00000,Afternoon,Day Time,1,0,43839,NaN,12723.067077,12086.374458
43839,2012-12-31,16,26.00,December,Monday,26.00,26.67,28.33,30.00,25.33,...,0.000000,0.00000,Afternoon,Day Time,1,0,43840,NaN,12723.067077,12086.374458
43840,2012-12-31,17,24.33,December,Monday,27.67,26.00,26.67,28.67,25.00,...,0.000000,0.00000,Afternoon,Day Time,1,0,43841,NaN,12723.067077,12086.374458
43841,2012-12-31,18,24.00,December,Monday,28.00,24.33,26.00,28.67,24.33,...,0.000000,0.00000,Evening,Day Time,1,0,43842,NaN,12932.949350,12086.374458
43842,2012-12-31,19,23.33,December,Monday,28.67,24.00,24.33,29.67,23.33,...,0.000000,0.00000,Evening,Night Time,0,1,43843,NaN,12932.949350,11192.520591
43843,2012-12-31,20,22.33,December,Monday,29.67,23.33,24.00,30.67,22.33,...,0.000000,0.00000,Evening,Night Time,0,1,43844,NaN,12932.949350,11192.520591
43844,2012-12-31,21,20.67,December,Monday,31.33,22.33,23.33,31.33,21.67,...,0.000000,0.00000,Evening,Night Time,0,1,43845,NaN,12932.949350,11192.520591
43845,2012-12-31,22,19.67,December,Monday,32.33,20.67,22.33,31.67,20.67,...,0.000000,0.00000,Evening,Night Time,0,1,43846,NaN,12932.949350,11192.520591
43846,2012-12-31,23,19.33,December,Monday,32.67,19.67,20.67,31.67,19.00,...,0.000000,0.00000,Midnight,Night Time,0,1,43847,NaN,10443.747922,11192.520591
43847,2012-12-31,24,18.33,December,Monday,33.67,19.33,19.67,26.67,21.67,...,0.000000,0.00000,Midnight,Night Time,0,1,43848,NaN,10443.747922,11192.520591

In [29]:
data2.to_csv('03_2011_v4_variable_creation.csv')